@{
    ViewData["Title"] = "Blog home page";
}
<div class="w-full">
    <div class="w-2/5">
        <div>
            <img src="~/images/blog-logo.png" alt="Blog Logo" class="mx-auto my-4" />
            <h3>Kornel Pustelak</h3>
            <h4>Author, software developer</h4>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="w-3/5">
    </div>
</div>
