html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.container, .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

.download-btn.github {
    background-color: #24292e; 
    color: white;
}

.download-btn.linkedin {
    background-color: #0a66c2;
    color: white;
}
